body {
  background-color:  hsl(20, 50%, 98%);
}

.container .images {
  width: auto;
  height: 200px;
  flex: 1 1 20%;
  margin: 20px 30px;
  position: relative;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  background-color: sl(20, 50%, 98%);
  height: 130vh;
  margin-left:  100px;
  margin-right: 10px;
  position: relative;
}

.container img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: none;
}
  
.order-container {
  min-width: 25%;
  min-height: 30%;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 30px;
  margin-left: 10px;
  margin-top: 50px ;
  border-radius: 15px;
}

.order-container h2 {
  color: hsl(14, 86%, 42%);
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 22px;
  padding-left: 20px;
}

.order {
  background-color: white;
  margin: auto;
  max-width: 100%;
}

.order img {
  margin-left: 35%;
  padding-top: 15px;
}

.order p {
  margin-top: 0;
  color: hsl(12, 20%, 44%);
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  text-align: center;
}

.title {
  padding-left: 130px;
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  margin-bottom: 0;
}

.add-button {
  margin: auto;
  padding: 10px 10px;
  border: solid 1px hsl(12, 20%, 44%);
  border-radius: 25px;
  max-height: 45px;
  min-width: 65%;
  transform: translateY(-25px);
  display: flex;
  align-items: center;
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  cursor: pointer;
}

.add-button .icon {
  /*background-color: black;*/
  width: 15%;
  margin-right: 10px;
  margin-left: 18px;
}

.images div {
  position: absolute;
  background-color: hsl(20, 50%, 98%);
  width: 100%;
}

.images .text {
  margin-top: 20px;
  
}


.name {
  color: hsl(12, 20%, 44%);
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.name-in-bold {
  color: hsl(14, 65%, 9%);
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
}

.price {
  color: hsl(14, 86%, 42%);
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

/*.text {
  margin: 0;
}
  */
  
.images .selected-image {
  border: solid 2px hsl(14, 86%, 42%);
}

.images .select-button {
  display: flex;
  justify-content: center;
  background-color: hsl(14, 86%, 42%);
  border: solid 3px hsl(14, 86%, 42%);
  color: white;
}

.increase {
  background-color: hsl(14, 86%, 42%);
  color: white;
  margin-left: 50px;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.increase img {
  width: 10px;
  height: auto;
}

.decrease {
  background-color: hsl(14, 86%, 42%);
  color: white;
  margin-right: 50px;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.decrease img {
  width: 10px;
  height: auto;
}

.order-container .item-container {
  max-width: 100%;
  margin-left: 30px;
  margin-right: 30px;
  border: solid 1px rgb(204, 191, 191);
  border-top: none;
  border-right: none;
  border-left: none;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.item-container .button-div {
  margin-top: 25px;
  min-width: 50px;
  min-height: 50px;
}

.item-container .item-name {
  text-align: left;
  color: hsl(14, 65%, 9%);
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
}

.item-container .price {
  text-align: left;
  word-spacing: 10px;
}

.remove-item-button {
  width: 18px;
  height: auto;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  border: solid 1px hsl(12, 20%, 44%);;
  padding-bottom: 3px;
  color: hsl(12, 20%, 44%);; 
  cursor: pointer;
}

.total-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.total-container .total-price {
  margin-left: 230px;
  margin-bottom: 10px;
  color: hsl(14, 65%, 9%);
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;

}

.total-container .total {
  margin-left: 20px;
  color: hsl(12, 20%, 44%);
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

.order-description {
  margin-left: 20px;
  margin-right: 30px;
  margin-bottom: 20px;
  background-color: hsl(20, 50%, 98%);
  font-family: "Outfit", serif;
  font-weight: 400;
  font-size: 15px;
  color: hsl(12, 20%, 44%);
  display: flex;
  justify-content: center;
}

.order-description .carbon-image {
  margin-top: 14px;
  margin-right: 4px;
}

/*
.comfirm-oder {
  background-color: hsl(14, 86%, 42%);
  max-width: 80%;
  min-height: 50px;
}*/

.comfirm-oder button {
  min-width: 90%;
  min-height: 50px;
  margin-left: 20px;
  margin-right: 20px;
  border: none;
  border-radius: 30px;
  background-color: hsl(14, 86%, 42%);
  color: white;
  font-family: "Outfit", serif;
  font-weight: 300;
  font-size: 15px;
  cursor: pointer;
}

.pop-up-container {
  background-color: white ;
  border-radius: 11px;
  max-width: 35%;
  min-height:auto;
  display:none;
  position: fixed;
  z-index: 1;
  top: 13%;
  left:33%;
}

.pop-up-container .confirmed-icon {
  margin-left: 11px;
  margin-top: 10px;
}

.pop-up-container h1 {
  color: black;
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  margin-left: 12px;
  margin-right: 10px;
  margin-top: 8px;
}

.pop-up-container p {
  font-family: "Outfit", serif;
  font-weight: 400;
  font-size: 15px;
  color: hsl(12, 20%, 44%);
  margin-left: 14px;
  margin-right: 10px;
  margin-top: 5px;
}


.pop-up-items-div {
  max-height: 12vh;
  display: flex;
  margin-right: 10px;
  background-color: hsl(20, 50%, 98%);
  border: solid 1px rgb(190, 180, 180);
  border-top: none;
  border-left: none;
  border-right: none;
  display: flex;
}

.pop-up-orders-container {
  background-color: hsl(20, 50%, 98%);
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 10px;
}

.pop-up-items .pop-up-price {
  margin-left: 180px;
  margin-top: 30px;
  color: hsl(14, 65%, 9%);
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
}

.pop-up-items .pop-up-item-name {
  margin-left: 10px;
  margin-top: 5px;
  max-width: 25%;
  color: hsl(14, 65%, 9%);
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
}

.start-new-order-btn {
  min-width: 96%;
  margin-left: 12px;
  margin-top: 12px;
  margin-bottom: 10px;
  min-height: 5vh;
  border: none;
  border-radius: 30px;
  background-color: hsl(14, 86%, 42%);
  color: white;
  font-family: "Outfit", serif;
  font-weight: 300;
  font-size: 15px;
  cursor: pointer;
}

.pop-up-total-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: hsl(20, 50%, 98%) ;
}

.pop-up-total-container .pop-up-total-price {
  margin-top: 6px;
  margin-left: 335px;
  margin-bottom: 10px;
  color: hsl(14, 65%, 9%);
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;

}

.pop-up-total-container .pop-up-total {
  margin-left: 5px;
  margin-top: 8px;
  color: hsl(12, 20%, 44%);
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}